@charset "UTF-8";

:root{
    --cor-1: #1d2e65;
    --cor-2: #4d6f94;
    --cor-3: #abc2c5;
    --cor-4: #362e42;
    --cor-5: #000000;
    --card-width: 200px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-1);
}
.game-header{
    background-color: var(--cor-4);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.427);
    margin-bottom: 20px;
    color: var(--cor-3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.456);
    text-align: center;
}
.game-container{
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    background-color: var(--cor-2);
    display: inline-block;
    width: var(--image-width);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.496);
}
.card__image{
    width: var(--card-width);
    height: var(--card-width);
    object-fit: cover;
}
.card__title{
    margin: 15px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.427);
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}